@{
    ViewBag.Title = "PopUpAdress";
}

<div id="PopUpForAddress" style="display: none">
    <div>
        <div class="col-md-12 control-icons" id="ButtonSet">

            <button class="control-button save" onclick="saveAddress() " data-tooltip="save"> </button>
            <button class="control-button back" onclick="back()" data-tooltip="back"> </button>
        </div>
        <br style="clear:both" />
        <div class="col-md-12 col-sm-12">
            <div id="HdrPart">
                <div class="col-md-6 col-sm-6">
                    <div class="wr_formGroup">
                        <div class="form-group">
                            <div class="row">
                                <input name="MultiAdrsKy" id="MultiAdrsKy" readonly="readonly" type="hidden"/>
                                <input name="AccKy" id="AccKy" readonly="readonly" type="hidden"/>
                                <div class="col-md-5 col-sm-6">
                                    <label>Account Code:</label>
                                </div>
                                <div class="col-md-5 col-sm-8 ">
                                    <input type="text" name="AccCd" id="AccCdAdr" readonly="readonly" class="k-textbox" />

                                </div>

                            </div>
                            <div class="row">
                                
                                <div class="col-md-5 col-sm-6">
                                    <label> Account Name:</label>
                                </div>
                                <div class="col-md-5 col-sm-8 ">
                                    <input type="text" name="AccNm" id="AccNmAdr" readonly="readonly" class="k-textbox" />

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-5 col-sm-6">
                                    <label> MultiAddress:</label>
                                </div>
                                <div class="col-md-5 col-sm-8 ">
                                    <input type="text" name="AdrMultiAdrsTyp" id="AdrMultiAdrsTyp" readonly="readonly" class="k-textbox" />

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
         
        </div>
        <br style="clear:both" />
        <div class="col-md-12 col-sm-12">
            <div id="PopUpgrid1"></div>
        </div>

    </div>


</div>

    <script src="~/Scripts/HtnScripts/AllAccounts/PopUpAddress.js"></script>

<script>
    var UrlAddressList = '@Url.Content("~/ManageAllAccount/AddressListPopUp")';
    var UrlAddressUpdate = '@Url.Content("~/ManageAllAccount/UrlAddressUpdate")';
</script>
