<div id="cmbItmTypCdAnlTab2"></div>

<script>
    $(document).ready(function () {
        LoadItmTypComboAnlTab2();
    });
    
    function LoadItmTypComboAnlTab2() {
        $("#cmbItmTypCdAnlTab2").kendoComboBox({
            dataValueField: "CdKy",
            dataTextField: "Code",
            dataSource: CdMasLookUp('ItmTyp'),

            filter: "contains",
            suggest: true,
            placeholder: "Item Type Code ...",
        });
        $("#cmbItmTypCdAnlTab2").parent().css('width', "150px");
    }
    
</script>
