<div>
    <div class="col-md-4 col-sm-6" style="z-index:9999">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>From Date:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <input placeholder="From Date" id="MedicalClaimFromDate" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>To Date:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <input placeholder="To Date" id="MedicalClaimToDate" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Claim Date:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <input placeholder="Claim Date" id="MedicalClaimDate" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" style="z-index:9999">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Medical Type:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <div id="cmbMedicalType" data-cpypst-blsmartcpypaste="cmbMedicalType"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Annual Limit:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <input placeholder="Annual Limit" id="annualLimit" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Amount:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <input placeholder="Amount" id="amount" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Balance:</label>
                    </div>
                    <div class="col-md-4 col-sm-8 ">
                        <input placeholder="Balance" id="balance" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
