<div>
    <div class="col-md-3 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Company EPF:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Company EPF" id="CompanyEPF" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Emp Type:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbEmpType" data-cpypst-blsmartcpypaste="cmbEmpType"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Emp Grade:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbEmpGrade" data-cpypst-blsmartcpypaste="cmbEmpGrade"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Superviser:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Superviser" id="Superviser" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Appointment:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <div id="cmbAppointment" data-cpypst-blsmartcpypaste="cmbAppointment"></div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="ToWhomhdr">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>To Whom:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="To Whom" id="ToWhom" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Remarks:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Remarks" id="JobInfoRemarks" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>From Date<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <input id="JobFromDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>To Date:</label>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <input id="JobToDate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

