<div>
    <div class="col-md-4 col-sm-6" style="z-index:9999">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Basic Salary<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Basic Salary" id="basicSalary" type="text" class="k-textbox" />
                        <input placeholder="Basic Salary" id="HiddenBasicSalary" type="hidden" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>From Date<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="From Date" id="BasicfromDate" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Eligible for O/T Bata:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input type="checkbox" id="IsOTBata">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Eligible for Bonus Attn:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input type="checkbox" id="IsBonus">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <label>Reimbursements:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Reimbursements" id="Reimbursements" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6" style="z-index:9999">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Bank Name<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <div id="cmbBankName" data-cpypst-blsmartcpypaste="cmbBankName"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Branch Code/Name<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <div id="cmbBrnName" data-cpypst-blsmartcpypaste="cmbBrnName"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Account No<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Account Code" id="accountCode" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6" style="z-index:9999">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Allowence Type:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <div id="cmbAllowenceType" data-cpypst-blsmartcpypaste="cmbAllowenceType"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Amount:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Amount" id="amount" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>From Date:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="From Date" id="fromDate" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Remark:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Remark" id="Remark" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>