<button type="button" class="control-btn" onclick="AddModifier()" value="EDIT" title="Add Modifiers"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
<button type="button" class="control-btn" onclick="SaveModifier()" value="LOAD GRID" title="Save Modifiers"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>          

<div id="ModiGrid" class="ModiGrid" style="min-height:50px;"></div>