-<div id="FindHistory" style="display: none; font-size:11px;" class="no-margin row">
     <div id="filterCont">
         <div class="row m-l--15">
             <div class="col-md-12 control-icons no-padding" id="ButtonSet">
                 <div id="ButtonSec2" class="col-lg-5 col-md-5">
                     <button class="control-button load" id="loadGrid" onclick="HindHistoryGrid()" title="Load"> </button>
                 </div>
             </div>
         </div>
         <div class="row m-t-10">
             <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="row form-inline form-group" id="HdrSec16_Inpt_FF_DocNo">
                     <div class="col-md-4 col-sm-6 col-xs-12 p-r-0"><label id="HdrSec16_Inpt_FF_DocNo_Lbl">Task Id:</label></div>
                     <div class="col-md-8 col-sm-6 col-xs-12"><input placeholder="Task Id" id="HdrSec16_Inpt_FF_TaskId_Val" type="text" class="k-textbox width-100" /></div>
                 </div>
             </div>
         </div>
     </div>
    <br style="clear:both" />
    <div class="col-md-12 col-sm-12 p-l-0">
        <div id="FindFormHistory"> </div>

    </div>
</div>
