

<script src="~/Scripts/HtnScripts/POS/kendo.all.min.js"></script>

<div id="DialogFor_TaskEditDialog" style="display: none">
    <div class="wr_formGroup_grid">

        <div class="form-group" style="width: 100%">

            <div id="TaskEditDialog_UnitCmb">
                <div>
                    <label id="TaskEditDialog_UnitCmb_lbl">Unit : </label>
                    <input id="TaskEditDialog_UnitCmb_Cd" />
                </div>
            </div>
            <div>
                <div style="margin-top:20px;" class="k-button" id="TaskEditDialog_OkBtn">OK</div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/HtnScripts/GanttChart/GanttChartNewLook/TaskEditDialog.js"></script>