
<div id="DoubleEntryDiv" style="display: none; font-size:11px;" class="no-margin row">
    <div class="row m-l--15 m-b-sm-500">
        <div class="col-md-12 col-sm-12">
            <div id="DoubleEntryGrid"> </div>
        </div>
    </div>
</div>
