@{
    ViewBag.Title = "UserWisePasswordChange";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
}

@using BlueLotus.UI.Models;
<link rel="stylesheet" type="text/css" href="../buttncss/style/cssNew.css" />
<link href="~/Src/Styles/HtnStyles/Login/loginStyles.css" rel="stylesheet" />
@*<html>
    <head>

        <link rel="stylesheet" type="text/css" href="../buttncss/style/css.css" />
        <link rel="stylesheet" href="~/Images/BLBanner/style.css" type="text/css" />
        <link rel="stylesheet" href="~/buttncss/style/Responsive.css" type="text/css" />
    </head>
    <body></body>
    </html>*@
    <style>
    .form {   
        background-color: #fafafa;
    }
    </style>
<div class="form wr_mid_content wr_formGroup clearfix">
    <div class="col-md-12 control-icons" id="ButtonSet">
        <button class="control-button save" id="save" onclick="Save()" data-tooltip="Save"> </button>

        <button class="control-button clean " onclick="Cancel()" data-tooltip="Clear"> </button>

        @*@Html.Partial("~/Views/HtnShared/HtnCommonBtnSet.cshtml")*@
    </div>
    <div class="col-md-12 form-horizontal">
        <br />
        <div class="form-group">
            @*<label class="col-md-4 col-sm-4 control-label">User Id</label>
            <div class="col-md-7 col-sm-7">
                <input id="UsrId" type="text" class="k-textbox readonly" readonly />
            </div>*@
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-div-style color-transision" id="divUserName">
                    <label class="div-lbl" id="lblUserName">User Id</label><br>
                    <input type="text" id="UsrId" readonly class="input-event" />
                </div>
                <label></label>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            </div>
        @*<div class="form-group">
                <label class="col-md-4 col-sm-4 control-label">User Name</label>

                <div class="col-md-7 col-sm-7">
                    <input id="UsrNm" type="text" class="k-textbox" required autocomplete="off"/>
                </div>

            </div>*@

        <div class="form-group">
            @*<label class="col-md-4 col-sm-4 control-label">Password</label>
            <div class="col-md-7 col-sm-7">
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" class="k-textbox">
            </div>*@
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-div-style color-transision" id="divPassword">
                    <label name="lblPassword" id="lblPassword" class="div-lbl">Password</label><br>
                    <input type="password" class="color-transision input-event" name="password" id="password" placeholder="Credentials" required autocomplete="off" onblur="validatePassword()" />
                </div>
                <label class="error-lbl" name="errorPassword" id="errorPassword"></label>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

        </div>
        <div class="form-group">
            @*<label class="col-md-4 col-sm-4 control-label">New Password</label>
            <div class="col-md-7 col-sm-7">
                <input type="password" name="password1" id="password1" placeholder="New Password" autocomplete="off" class="k-textbox">
            </div>*@

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-div-style color-transision" id="divPassword1">
                    <label name="lblPassword1" id="lblNewPassword1" class="div-lbl">New Password</label><br>
                    <input type="password" class="color-transision input-event" name="password1" id="password1" placeholder="New Credentials" required autocomplete="off" onblur="validatePassword1()" />
                </div>
                <label class="error-lbl" id="errorPassword1" name="errorPassword1"></label> <br />
                <div class="col-md-6">
                    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                </div>
                <div class="col-md-6">
                    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
        @*<div class="form-group">


                <label class="col-md-4 col-sm-4 control-label" for="eq3">Is User Group</label>


                <input type="checkbox" id="chck" class="checkbox-inline chk">

            </div>*@
        <div class="form-group marging-b-200">
            @*<label class="col-md-4 col-sm-4 control-label">Repeat Password</label>
            <div class="col-md-7 col-sm-7">
                <input type="password" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off" class="k-textbox">
            </div>
            <div class="col-md-4  col-md-offset-4">
                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
            </div>*@
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="input-div-style color-transision" id="divPassword2">
                    <label name="lblPassword2" id="lblPassword2" class="div-lbl">Confirm Password</label><br>
                    <input type="password" class="color-transision input-event" name="password2" id="password2" placeholder="Confirm Credentials" required autocomplete="off" onblur="validatePassword2()" />
                </div>
                <label class="error-lbl" id="errorPassword2"></label><br />
                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <br />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var UsrKy = '@HTNSession.UsrKy'
        var UsrId = '@HTNSession.UsrId'
     //  alert(UsrKy);
      //  alert(UsrId);

        $("#UsrId").val(UsrId);

       // $("#username").value(UserId)

        //SelectText();
        //ValidatePwd();
        $("#password").focus();
        //var height = $(window).height() - 70;
        //$("#body").height(height);

    });
    function Save() {
        var UsrKy = '@HTNSession.UsrKy'
        var UsrId = $("#UsrId").val();
        var password = $("#password").val();
        var newpassword = $("#password1").val();
        var retypepassword = $("#password2").val();

        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");
        if (newpassword.length < 8) {
            document.getElementById('errorPassword1').innerHTML = "Type 8 Characters."
            password1ChangeColorToError();
            //alert("Type 8 Characters");
        }
        else if (!ucase.test(newpassword)) {
            document.getElementById('errorPassword1').innerHTML = "Type One Uppercase Letter."
            password1ChangeColorToError();
            //alert("Type One Uppercase Letter");
        }
        else if (!lcase.test(newpassword)) {
            document.getElementById('errorPassword1').innerHTML = "Type One Lowercase Letter."
            password1ChangeColorToError();
            //alert("Type One Lowercase Letter");
        }
        else if (!num.test(newpassword)) {
            document.getElementById('errorPassword1').innerHTML = "Type One Number."
            password1ChangeColorToError();
            //alert("Type One Number");

        }
        else if (!newpassword == retypepassword) {
            alert("Password Not Match ");
        }

        else {
            //alert("success");

            $.ajax({
                url: "@Url.Content("~/Login/CheckUserAndUpdate")",
                data: JSON.stringify({
                    UsrKy: UsrKy,
                    UsrId: UsrId,
                    password: password,
                    newpassword: newpassword
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: "Json",
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        alert("Save sucess");
                        $("#password").val(null);
                        // $("#UsrNm").val(null);
                        $("#password1").val(null);
                        $("#password2").val(null);
                    } else {
                        alert("Old Password is wrong");
                        $("#password").focus();
                        //document.getElementById('errorPassword').innerHTML = "Old Password is wrong";
                        //document.getElementById('errorPassword').style.visibility = "visible";                     
                    }

                },
                error: function (e) {
                    return false;
                }
            });
        }
        }

    $("input[type=password]").keyup(function(){
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");

        if($("#password1").val().length >= 8){
            $("#8char").removeClass("glyphicon-remove");
            $("#8char").addClass("glyphicon-ok");
            $("#8char").css("color","#00A41E");
        }else{
            $("#8char").removeClass("glyphicon-ok");
            $("#8char").addClass("glyphicon-remove");
            $("#8char").css("color","#FF0004");
        }

        if(ucase.test($("#password1").val())){
            $("#ucase").removeClass("glyphicon-remove");
            $("#ucase").addClass("glyphicon-ok");
            $("#ucase").css("color","#00A41E");
        }else{
            $("#ucase").removeClass("glyphicon-ok");
            $("#ucase").addClass("glyphicon-remove");
            $("#ucase").css("color","#FF0004");
        }

        if(lcase.test($("#password1").val())){
            $("#lcase").removeClass("glyphicon-remove");
            $("#lcase").addClass("glyphicon-ok");
            $("#lcase").css("color","#00A41E");
        }else{
            $("#lcase").removeClass("glyphicon-ok");
            $("#lcase").addClass("glyphicon-remove");
            $("#lcase").css("color","#FF0004");
        }

        if(num.test($("#password1").val())){
            $("#num").removeClass("glyphicon-remove");
            $("#num").addClass("glyphicon-ok");
            $("#num").css("color","#00A41E");
        }else{
            $("#num").removeClass("glyphicon-ok");
            $("#num").addClass("glyphicon-remove");
            $("#num").css("color","#FF0004");
        }

        if($("#password1").val() == $("#password2").val()){
            $("#pwmatch").removeClass("glyphicon-remove");
            $("#pwmatch").addClass("glyphicon-ok");
            $("#pwmatch").css("color","#00A41E");
        }else{
            $("#pwmatch").removeClass("glyphicon-ok");
            $("#pwmatch").addClass("glyphicon-remove");
            $("#pwmatch").css("color", "#FF0004");
            password2ChangeColorToError();
        }

    })


    $("#password").keypress(function (e) {

        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13') {
            $("#password1").focus();
        }
    });
    $("#password1").keypress(function (e) {

        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13') {
            $("#password2").focus();
        }
    });
    $("#password2").keypress(function (e) {

        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13') {
            $("#save").focus();
        }
    });

    function Cancel() {

        $("#password").val(null);
       // $("#UsrNm").val(null);
        $("#password1").val(null);
        $("#password2").val(null);
    }

    function  password1ChangeColorToError() {
        document.getElementById('divPassword1').style.backgroundColor = "#FEECEC";
        document.getElementById('divPassword1').style.borderColor = "#ccc";
        document.getElementById('password1').style.backgroundColor = "#FEECEC";
        document.getElementById('lblNewPassword1').style.color = "#626262";
    }

    function password2ChangeColorToError() {
        document.getElementById('divPassword2').style.backgroundColor = "#FEECEC";
        document.getElementById('divPassword2').style.borderColor = "#ccc";
        document.getElementById('password2').style.backgroundColor = "#FEECEC";
        document.getElementById('lblPassword2').style.color = "#626262";
    }
    $('#password').focus(function () {
        $('#divPassword').css({ "background-color": "#ebebeb" });
        $('#divPassword').css({ "border-color": "#aaaaaa" });
        $('#password').css({ "background-color": "#ebebeb" });
        $('#lblPassword').css({ "color": "#aaaaaa" });
    });

    $('#password1').focus(function () {
        $('#divPassword1').css({ "background-color": "#ebebeb" });
        $('#divPassword1').css({ "border-color": "#aaaaaa" });
        $('#password1').css({ "background-color": "#ebebeb" });
        $('#lblPassword1').css({ "color": "#aaaaaa" });
    });

    $('#password2').focus(function () {
        $('#divPassword2').css({ "background-color": "#ebebeb" });
        $('#divPassword2').css({ "border-color": "#aaaaaa" });
        $('#password2').css({ "background-color": "#ebebeb" });
        $('#lblPassword2').css({ "color": "#aaaaaa" });
    });

    function validatePassword() {
        var Password = document.getElementById('password').value;
        if (Password.length <= 0) {
            document.getElementById('errorPassword').innerHTML = "Password is required."
            document.getElementById('errorPassword').style.visibility = "visible";
            document.getElementById('divPassword').style.backgroundColor = "#FEECEC";
            document.getElementById('divPassword').style.borderColor = "#ccc";
            document.getElementById('password').style.backgroundColor = "#FEECEC";
            document.getElementById('lblPassword').style.color = "#626262";
        }
        else {
            document.getElementById('errorPassword').innerHTML = ""
            document.getElementById('divPassword').style.backgroundColor = "#fff";
            document.getElementById('divPassword').style.borderColor = "#ccc";
            document.getElementById('password').style.backgroundColor = "#fff";
            document.getElementById('lblPassword').style.color = "#959595";
        }
    }

    function validatePassword1() {
        var Password = document.getElementById('password1').value;
        if (Password.length <= 0) {
            document.getElementById('errorPassword1').innerHTML = "New password is required."
            document.getElementById('errorPassword1').style.visibility = "visible";
            password1ChangeColorToError();
        }
        else {
            document.getElementById('errorPassword1').innerHTML = ""
            document.getElementById('divPassword1').style.backgroundColor = "#fff";
            document.getElementById('divPassword1').style.borderColor = "#ccc";
            document.getElementById('password1').style.backgroundColor = "#fff";
            document.getElementById('lblNewPassword1').style.color = "#959595";
        }
    }

    function validatePassword2() {
        var Password = document.getElementById('password2').value;
        if (Password.length <= 0) {
            document.getElementById('errorPassword2').innerHTML = "Password confirmation is required."
            document.getElementById('errorPassword2').style.visibility = "visible";
            password2ChangeColorToError();
        }
        else {
            document.getElementById('errorPassword2').innerHTML = ""
            document.getElementById('divPassword2').style.backgroundColor = "#fff";
            document.getElementById('divPassword2').style.borderColor = "#ccc";
            document.getElementById('password2').style.backgroundColor = "#fff";
            document.getElementById('lblPassword2').style.color = "#959595";
        }
    }

</script>
