<div class="col-md-4 col-sm-6" id="HdrSec5_ProfQuali">
    <div class="wr_formGroup">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label>Year:</label>
                </div>
                <div class="col-md-6 col-sm-8 ">
                    <input placeholder="Year" id="HdrSec6_InptOtherEduYear" type="text" class="k-textbox" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label>Institute:</label>
                </div>
                <div class="col-md-6 col-sm-8 ">
                    <input placeholder="Institute" id="HdrSec6_InptOtherEduInstute" type="text" class="k-textbox" />
                </div>
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label>Result:</label>
                </div>
                <div class="col-md-6 col-sm-8 ">
                    <div id="HdrSec6_CmbOtherEduResult" data-cpypst-blsmartcpypaste="HdrSec6_CmbOtherEduResult"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-4 col-sm-6" id="HdrSec6_ProfQuali">
    <div class="wr_formGroup">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label>Remark:</label>
                </div>
                <div class="col-md-6 col-sm-8 ">
                    <input placeholder="Remark" id="HdrSec6_InptOtherEduYear" type="text" class="k-textbox" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label>Result:</label>
                </div>
                <div class="col-md-6 col-sm-8 ">
                    <input placeholder="Result" id="HdrSec6_InptOtherEduInstute" type="text" class="k-textbox" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <label>Certificates:</label>
                </div>
                <div class="col-md-6 col-sm-8 ">
                    <input name="files" id="HdrSec7_filesImg" type="file" />
                    <input id="HdrSec7_filesImgPath" type="hidden" />
                </div>
            </div>
        </div>
    </div>
</div>