<div>
    <div class="col-md-5 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Full Name:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input placeholder="Full Name" id="nameInInitial" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Title:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <div id="cmbTitle" data-cpypst-blsmartcpypaste="cmbTitle"></div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Date of Birth<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-7 col-sm-6 ">
                        <input id="dateOfBirth" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>NIC No<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input placeholder="NIC No" id="nicNo" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Passport:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Passport No" id="passportNo" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Passport Exp Date:</label>
                    </div>
                    <div class="col-md-5 col-sm-6 ">
                        <input id="passportExpDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Driving Licence:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Driving Licence" id="drivingLicence" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Card No:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input id="CardNo" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div>
        <div id="EmpImagePreview"></div>
    </div>*@
    <div style="clear:both"></div>
    <div class="col-md-5 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Religion:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbReligion" data-cpypst-blsmartcpypaste="cmbReligion"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Gender:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbGender" data-cpypst-blsmartcpypaste="cmbGender"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Blood group:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbBloodGrp" data-cpypst-blsmartcpypaste="cmbBloodGrp"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Country:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbCountry" data-cpypst-blsmartcpypaste="cmbCountry"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Nationality:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbNationality" data-cpypst-blsmartcpypaste="cmbNationality"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Civil Status:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbCivilStatus" data-cpypst-blsmartcpypaste="cmbCivilStatus"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Date of Joined:</label>
                    </div>
                    <div class="col-md-5 col-sm-6 ">
                        <input id="joinDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <label>Is Active:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input type="checkbox" id="IsActive">
                    </div>
                </div>
            </div>
            <div class="form-group" id="HdrSec7_ChkboxIsApr">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <label>Is Aprove:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input type="checkbox" id="IsAprove">
                    </div>
                </div>
            </div>
            <div class="form-group" id="resign">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <label>Date of Resigned:</label>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <input id="resignDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Emp Image:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <button type="button" id="ButtonSec1_AttachImage" class="control-button attach" onclick="AttachImage()" style="width:40px" value="Upload" title="Upload">&nbsp; Upload Image </button>
                        @*<input name="files" id="HdrSec7_filesImg" type="file" />
                        <input id="HdrSec7_filesImgPath" type="hidden" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

