
<div>
    <div class="col-md-4 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Street<label style="color:red;">*</label>:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input placeholder="Street" id="Street" type="text" class="k-textbox" />
                        <input placeholder="Address" id="HiddenAddress" type="hidden" disabled class="k-textbox" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>City:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input placeholder="City" id="City" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>State:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input placeholder="State" id="State" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Current Address:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <input placeholder="Current Address" id="CurrentAddress" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>District:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <div id="cmbDistrict" data-cpypst-blsmartcpypaste="cmbDistrict"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Electorate:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <div id="cmbElectorate" data-cpypst-blsmartcpypaste="cmbElectorate"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Province:</label>
                    </div>
                    <div class="col-md-7 col-sm-8 ">
                        <div id="cmbProvince" data-cpypst-blsmartcpypaste="cmbProvince"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Mobile:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Mobile" id="mobile" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Telephone:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Telephone" id="telephone" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Email:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Email" id="email" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Office Telephone:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Telephone" id="OfficeTelephone" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Office Email:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Email" id="OfficeEmail" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="wr_formGroup">
            <h5>Emergency Contact</h5>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Name:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Name" id="EmrContactName" type="text" class="k-textbox" />
                        <input placeholder="AdrKy" id="EmAdrKy" type="hidden" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Relationship:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <div id="cmbRelationship" data-cpypst-blsmartcpypaste="cmbRelationship"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Address:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Address" id="emrConAddress" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <label>Telephone:</label>
                    </div>
                    <div class="col-md-6 col-sm-8 ">
                        <input placeholder="Telephone" id="emrConTelephone" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>