<script src="~/Scripts/HtnScripts/POS/kendo.all.min.js"></script>

<div id="SrchClient_Lookup" style="display: none" title="Client selection">
    <div class="k-content clearfix" id="filterCont">
        <div class="col-md-12 control-icons" id="ButtonSet">
            <button class="control-button save" data-tooltip="Save" onclick="addDefTyp(rowKy,rowItem,rowDataItem)"></button>
            <button class="control-button cancel" data-tooltip="Close" onclick="onClose()"></button>
        </div>
    </div>
    <div id="GridSrchClient_Lookup" style="margin-bottom: 20px; margin-left: 100px; margin-right: 100px; margin-top:25px; height: 200px;">
    </div>
</div>

<script>
    $(document).ready(function () {

        LoadAdrTypGrid();
        });
</script>

<script>
    function LoadAdrTypGrid() {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: urlBOQClient_Lookup,
                    dataType: "json"
                },

            },

            batch: true,
            pageSize: 12,
            schema: {
                model: {

                    id: "AdrKy",
                    fields:
                    {
                        AdrKy: {editable: false, nullable: false, type: "number", hidden: true },
                        AdrID: {nullable: false, type: "String" },
                        AdrNm: {nullable: false, type: "String" }
                    }
                }
            }
        });
        $("#GridSrchClient_Lookup").kendoGrid(
         {
             dataSource: dataSource,
             pageable: true,
             sortable: true,
             reorderable: true,
             columnMenu: true,
             selectable: "row",
             filterable: true,
             //pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100] },
             columns: [
                 { field: "AdrKy", title: "AdrKy",hidden: true },
                 { field: "AdrID", title: "AdrID", width: "150px" },
                 { field: "AdrNm", title: "AdrNm", width: "400px" }
             ],
             resizable: true,
             editable: false,
             height: 480,
             width: 650,
         });
    }
</script>


@*<script>

    $(function () {

        SrchClient_LookupPicker = $("#SrchClient_Lookup").dialog({
            autoOpen: false,
            height: 610,
            width: 660,
            modal: true,
            buttons: {
                "Select Client": okSrchClient_Lookup,
                Cancel: function () {
                    SrchClient_LookupPicker.dialog("close");
                }
            },
            close: function () { }
        });

        var dataSourceSrchClient_Lookup = new kendo.data.DataSource({
            transport: {
                read: {
                    url: urlBOQClient_Lookup,
                    dataType: "json",
                    data: {}
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "AdrKy",
                    fields:
                    {
                        AdrKy: {},
                        AdrID: {},
                        AdrNm: {}
                    }
                }
            }
        });

        $("#GridSrchClient_Lookup").kendoGrid({
            dataSource: dataSourceSrchClient_Lookup,
            pageable: true,
            sortable: true,
            reorderable: true,
            columnMenu: true,
            selectable: "row",
            filterable: {
                mode: "row"
            },
            pageable: { refresh: true, pageSizes: [5, 10, 20, 50, 100] },
            columns: [
                { field: "AdrKy", title: "AdrKy", width: "0px", hidden: true },
                { field: "AdrID", title: "AdrID", width: "80px" },
                { field: "AdrNm", title: "AdrNm", width: "250px" }
            ],
            resizable: true,
            dataBound: function () {
                $('#GridSrchClient_Lookup .k-grid-content').height(350);
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            editable: false,
            height: '495px'
        });

        $("#GridSrchClient_Lookup").delegate("tbody>tr", "dblclick", function () {
            okSrchClient_Lookup();
        });

        function okSrchClient_Lookup() {

            var gview = $("#GridSrchClient_Lookup").data("kendoGrid");
            var selectedItem = gview.dataItem(gview.select());

            var clientAdr = selectedItem.AdrKy;
           // $("#clientCmb").value(clientAdr);
            $('#clientCmb').data('kendoComboBox').value(clientAdr);

            //var gview = $("#GridSrchLocation_Lookup").data("kendoGrid");
            //var selectedItem = gview.dataItem(gview.select());
            //$("#locationCmb").data("kendoComboBox").value(selectedItem.CdKy);

            SrchClient_LookupPicker.dialog("close");
        }
    });

</script>*@

