@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <div id="PopUpNiceClassDetails" style="display: none">
        <div class="col-md-12 control-icons" id="ButtonSet">
            <button class="control-button back" onclick="closeNiceClassDetails()" data-tooltip="back"> </button>           
            <button class="control-button save" onclick="NiceClassInsertUpdate()" data-tooltip="save"> </button>
        </div>

        <div class="col-md-12 col-sm-12">

            <div id="HdrPart">
                <div class="col-md-12 col-sm-12">
                    <div class="wr_formGroup">
                        <div class="">
                            <div class="row form-group">
                                <input name="PrjKy" id="InputNicePrjKy" readonly="readonly" type="hidden" />
                                <!-- Project Id   -->
                                <div class="row form-group" id="HdrSec2_InptNicePrjNo">
                                    <div class="col-md-2 col-sm-6 col-xs-12"><label id="HdrSec2_InptNicePrjNo_Lbl">Project Id:</label></div>
                                    <div class="col-md-7 col-sm-6 col-xs-12"><input id="HdrSec2_InptNicePrjNo_Val" class="width-100 p-t-0 p-b-0" readonly="readonly" /></div>
                                </div>
                                <!-- / Project Id   -->
                            </div>
                            <div class="row">
                                <!-- Project Name-->
                                <div class="row form-group" id="HdrSec2_InptStsNiceName">
                                    <div class="col-md-2 col-sm-6 col-xs-12"><label id="HdrSec2_InptStsNiceName_Lbl">Project Name:</label></div>
                                    <div class="col-md-7 col-sm-6 col-xs-12"><input id="HdrSec2_InptStsNiceName_Val" class="width-100 p-t-0 p-b-0" readonly="readonly" /></div>
                                </div>
                                <!-- /Project Name  -->
                            </div>

                           

                        </div>
                    </div>
                </div>
                

            </div>
        </div>

        <div class="col-md-12 col-sm-12"><div id="PopUpNiceClass"></div></div>
       
    </div>
</body>
</html>
