
<div id="MultiAprComments" style="display: none; font-size:11PX;">

    <div style="height:40px;" class="k-content clearfix" id="filterCont">
        <div style="height:40px; margin-left:10px;" class="k-content clearfix" id="filterCont">
            <button class="control-button save" id="SrlNoGridDone" onclick="MultiAprInsertWithComments()" title="Save"></button>
        </div>
        <h4>Place Your Comments...</h4>
        <div class="col-md-9 col-sm-12 ">
            <textarea id="MultiAprComment_Val" class="k-textbox" data-bind="value: textareaValue" style="width:390px; height: 200px;"></textarea>
        </div>
        <div><hr style="color:#8a1e1e"></div>
        

    </div>
</div>
