<div id="SrlNoPartialView" style="display: none; font-size:11PX;">
    <div>
        <label id="SrlNoPartialView_ItmLbl_Lbl">.....</label>
    </div>
    <div style="height:40px;" class="k-content clearfix" id="filterCont">
        <div style="height:40px; margin-left:10px;" class="k-content clearfix" id="filterCont">
            <button id="srlNoAddBtn" class="control-button add" onclick="SrlNoGridAdd()" title="Add"> </button>
            <button class="control-button cancel" id="btnCancel" onclick="SrlNoGridCancel()" title="Cancel"></button>
            <button class="control-button save" id="SrlNoGridDone" onclick="SrlNoGridDone()" title="Done"></button>
        </div>
        <hr style="margin-top :50px; border-top: 3px solid #8a1e1e">
    </div>
    <div id="SrlNo_Grid_Web"></div>
</div>

<script src="~/Scripts/HtnScripts/Transaction/PopUp/SrlNo_CommonHandling.js"></script>
<script src="~/Scripts/HtnScripts/Transaction/PopUp/SrlNo.js"></script>