<div id="WinIntegrityCheck" style="display: none">
    <div id="DivIntegrityCheck">
        <div id="GridIntegrityCheck"></div>
    </div>
</div>

<style>
    .titleIntegrityCheck {
        margin-top: 20px;
    }

    .descriptionIntegrityCheck {
        margin-top: 10px;
    }

    .gridIntegrityCheck {
        margin-top: 10px;
    }

</style>

<script src="~/Scripts/HtnScripts/GanttChart/IntegrirityCheck_IC.js"></script>