    #HdrSec1_ComPro_lb1 label {
   padding-right: 4.8em;
}
    #HdrSec1_ComProPj_Cd{
        padding-top:10px;
        padding-bottom :20px
    }
    #HdrSec1_InpProLoc_Cd {
        padding-right:0.4em;
    }
    #HdrSec1_InpProLoc_Nm{
        padding-bottom:20px;
    }
