<div id="PopUp" style="display: none">
    <div style="border: solid; border-color:#235af8; float: left; width: 100%; height: 460px; background-color:  #86a4f9 ;font-style:normal">

        <div class="k-label" style="width:100%; background-color: #b9cafa;text-align:center;font-size:16px;font-weight:600">
            Insert Holiday
        </div>
        <br />
        <label style="font-size:15px;font-weight:600;color:black">Selected Date : </label>    <label id="lblClickedDate" style="font-size:15px;font-weight:600;color:blue">Date</label><br />
        <label style="font-size:15px;font-weight:600;color:black">
            Set holiday as :
        </label><div id="cmbHoliTyp" style="margin-left:18px"></div><br />
        <label style="font-size:15px;font-weight:600;color:black"><br />
            Selected Holiday Type :
        </label><label id="lblHoliType" style="font-size:15px;font-weight:600;color:blue"></label>
        <br />
        <button class="k-button" onclick="AddHoliday()" data-tooltip="Insert Holiday" style="color:blue;margin-left:18px">Insert Holiday</button>
    <br /><br />

        <div class="k-label" style="width:100%; background-color: #b9cafa;text-align:center;font-size:16px;font-weight:600">
            Insert/Update/Remove Multiple Holidays
        </div>

    <br /><br />
    <label style="font-size:15px;font-weight:600;color:black">
        Day :
    </label> <input id="cmbSingleDate" />
    <br /><br />
    <label style="font-size:15px;font-weight:600;color:black">
        Date From :
        <input id="fromdatepicker" style="width: 120px;" onclick="    $('#fromdatepicker').data('kendoDatePicker').open();" />
    </label><label style="font-size:15px;font-weight:600;color:black">
        Date To : <input type="text" id="todatepicker" style="width: 120px;">
    </label>
    <br /><br /><br />
    <button class="k-button" onclick="AddMultiHoli()" data-tooltip="Add/Update Holidays" id="AddMultiHoli" name="AddMultiHoli" style="color:blue;margin-left:18px">Add/Update Holidays</button>
        <button class="k-button" onclick="RemoveHoli()" data-tooltip="Remove Holidays" id="RemMultiHoli" name="RemMultiHoli" style="color:blue;margin-left:18px">Remove Holidays</button>
</div>
