
<div id="HdrPart">
    <div class="col-md-4 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Date:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Date" id="date" type="text" class="k-textbox" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Type of Misconduct:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="cmbTypeofMisconduct" data-cpypst-blsmartcpypaste="cmbTypeofMisconduct"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Incident:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Incident" id="incident" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Step Taken:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Step Taken" id="stepTaken" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Final Outcome:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Final Outcome" id="finalOutcome" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div id="DisiplinaryGrid">
    </div>
</div>