<div id="HdrPart">
    <div class="col-md-4 col-sm-6">
        <div class="wr_formGroup">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Year:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Year" id="HdrSec4_InptAnnualPerYear_Val" type="text" class="k-textbox" />
                        <input placeholder="Year" id="HdrSec4_InptAnnualPerEmpCdDtKy_Val" type="hidden" class="k-textbox" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Month:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <div id="HdrSec4_CmbAnnualPerMonth_Cd" data-cpypst-blsmartcpypaste="HdrSec4_CmbAnnualPerMonth_Cd"></div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Review Sent:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Review Sent" id="HdrSec4_InptAnnualPerReviewSent_Val" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Review Received:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Review Received" id="HdrSec4_InptAnnualPerReviewReceived_Val" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="wr_formGroup">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Overall Grade:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Overall Grade" id="HdrSec5_InptAnnualPerOverallGrade_Val" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Review Person:</label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input placeholder="Review Person" id="HdrSec5_InptAnnualPerReviewPerson_Val" type="text" class="k-textbox" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <label>Select File </label>
                    </div>
                    <div class="col-md-5 col-sm-8 ">
                        <input name="files" id="HdrSec5_files" type="file" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br style="clear:both" />
<div>
    <div id="AnnualPerformanceGrid">
    </div>
</div>
<div>
    <div id="imagePreview"></div>
</div>

