<div id="FindFormShowroomLog" style="display: none">
    <div class="k-content clearfix" id="filterCont">
        <div class="col-md-6 control-icons" id="ButtonSet">
            <button class="control-button preview" onclick="Search()" data-tooltip="preview"> </button>
            <button class="control-button selected" onclick="selected()" data-tooltip="select"> </button>
            <button class="control-button back" onclick="ExitFindForm()" data-tooltip="back"> </button>
        </div>
    </div>
    <div id="HdrPart">
        <div class="col-md-12 col-sm-12">
            <div class="wr_formGroup">
                <div class="form-group">
                    <div class="row">
                        <div id="HdrSec2_DatFindFromDate">
                            <div class="col-md-1 col-sm-3">
                                <label id="HdrSec2_DatFindFromDate_Lbl">Date From:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 ">
                                <input id="HdrSec2_DatFindFromDate_Val" />

                            </div>
                        </div>
                        <div id="HdrSec2_DatFindToDate">
                            <div class="col-md-1 col-sm-3">
                                <label id="HdrSec2_DatFindToDate_Lbl">Date To:</label>
                            </div>
                            <div class="col-md-3 col-sm-3 ">
                                <input id="HdrSec2_DatFindToDate_Val" />

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <br style="clear:both" />
    <div class="col-md-12 col-sm-12">
        <div id="FindFormGrid">
        </div>
    </div>
</div>
<div>
    <input type="hidden" Id="AdrKy"><br>
    <input type="hidden" Id="LogDetKy"><br>
</div>