@{
    ViewBag.Title = "PrintReport";
    Layout = "~/Views/Shared/_LayOutWithLatestKendoScript.cshtml";
}
<link rel="stylesheet" href="~/buttncss/style/cssNew.css" type="text/css" />

<div id="pdfFrmae">
    <iframe style="width:100%; height:100%;"></iframe>
</div>

<script>

    $(document).ready(function () {
        setHeight();

        var tt = '@ViewBag.base64string';
        var url = 'data:application/pdf;base64,' + tt
       
        var $iFrame = $('iframe');
        $iFrame.attr('src', url);
    });

    function setHeight() {
        var height = $(window).height();
        $("#pdfFrmae").height(height-(63));
    }

</script>

<style>
    .row {
        height: 100%;
    }
</style>